.vscode*
.vscode/launch.json
ManualActions.json
ManualActions.html
*debug*
./debug/*
environ*.ps1
README.md
*.reference
AssetLayoutFieldsImports.json
AssetLayoutFieldsImports.preview.json
Locations.ps1
*.old
mapfile.ps1
source-fields.json
dest-fields.json
*.json